.frame {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #c5c2c2;
}

.main_frame {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 1440px;
  height: 1312px;
  margin-top: 2px;
  background: #deddd5;
}

.main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  background-color: white;
  display: flex;
  flex: 0 0 300px;
  flex-direction: column;
}

.left_frame .left-1 {
  position: relative;
  width: 228px;
  height: 267px;
  margin-top: 50px;
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_frame .left-1-1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 156.16px;
  height: 135.05px;
  margin-bottom: 29.46px;
}

.left_frame .left-1-2 {
  position: relative;
  width: 64px;
  height: 20.85px;
  margin-bottom: 6.65px;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  line-height: 123.6%;
  justify-content: center;
  align-items: left;
  text-transform: capitalize;
  color: #302e2e;
  font-feature-settings:
    "calt" off,
    "kern" off;
}

.left-1-3 {
  font-weight: bold;
}

.left_frame .left-icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 238px;
  margin-top: 19px;
}

.left_frame .icon {
  position: relative;
  width: 24.99px;
  height: 22.8px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background: #ffb400;
}

.left_frame .icon-1 {
  position: relative;
}

.left_frame .profile-pic {
  border-radius: 90%;
}

.marginer {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-top: 39px;
  border: 1.5px solid #f0f0f6;
}

.left_frame .left-2 {
  position: relative;
  width: 221px;
  height: 126px;
  margin-top: 25px;
  margin-left: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-2 .info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.left-2 .info span:first-child {
  background: #ffb400;
  padding: 2px 5px;
}

.left_frame .available {
  color: lightgreen;
}

.left_frame .left-3 {
  position: relative;
  width: 220px;
  height: 153px;
  margin-left: 45px;
  margin-bottom: 25px;
}

.left-3 .language {
  margin-bottom: 15px;
}

.left-3 .lang-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.left-3 .lang-name,
.lang-per {
  color: #767676;
  font-size: 15px;
  font-family: sans-serif;
}

.left-3 .progress-bar-wrapper {
  width: 100%;
  height: 4px;

  border: 1px solid #ffb400;
  border-radius: 10px;
  padding: 2px;
  display: flex;
  align-items: center;
}

.left-3 .progress-fill {
  height: 2px;
  background-color: #ffb400;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}
.left_frame .left-4 {
  position: relative;
  width: 220px;
  height: 252px;
  margin-left: 45px;
  margin-bottom: 35px;
}

.left-4 .skill-item {
  margin-bottom: 15px;
}

.left-4 .skill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.left-4 .text-muted {
  color: #767676;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.left-4 .progress-bar-wrapper {
  width: 100%;
  height: 4px;
  background-color: #fff;
  border: 1px solid #ffb400;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 1px;
}

.left-4 .progress-fill {
  height: 2px;
  background-color: #ffb400;
  border-radius: 10px;
  transition: width 1s ease-in-out;
}

.left_frame .left-5 {
  position: relative;
  width: 186px;
  height: 148px;
  margin-left: 45px;
}

.left-5 .extra-skills-container h3 {
  font-size: 18px;
  color: #2b2b2b;
}

.left-5 .extra-skill-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.left-5 .custom-icon {
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.left-5 .rect-1,
.rect-2 {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid #ffb400;
  background-color: transparent;
}

.left-5 .rect-1 {
  top: 0;
  left: 0;
}

.left-5 .rect-2 {
  bottom: 0;
  right: 0;
}

.left-5 .skill-text {
  color: #767676;
  font-size: 15px;
  font-family: sans-serif;
}

.main_frame .midd_frame {
  position: relative;
  width: 970px;
  height: 1259px;
  margin-left: 30px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
}

.about-hero {
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 30px;
  padding-left: 70px;
  border-radius: 4px;
  position: relative;
  width: 850px;
  min-height: 350px;
}

.desc-hero {
  flex: 1;
}

.desc-hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: #2b2b2b;
  line-height: 1.2;
  margin-bottom: 20px;
}

.desc-hero p {
  font-size: 16px;
  color: #767676;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  right: 60px;

  height: 100%;
}

.hero-image img {
  width: 250px;
  height: 370px;
  z-index: 1;
  display: block;
  align-self: flex-end;
}

.hire-btn {
  background-color: #ffb400;
  color: #2b2b2b;
  border: none;
  padding: 15px 35px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.hire-btn:hover {
  background-color: #e5a200;
}

.services-section {
  max-width: 1100px;
  margin: 150px auto;
  text-align: center;
}

.header-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #1a1a1a;
}

.header-content p {
  color: #666;
  margin-bottom: 30px;
  line-height: 1.6;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.service-card {
  background: #ffffff;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #1a1a1a;
}

.service-card p {
  color: #767676;
  font-size: 0.9rem;
}

.advertising {
  text-align: center;
  padding: 40px 20px;
}

.advertising p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.order-btn {
  color: #ffb400;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.order-btn:hover {
  text-decoration: underline;
}

.main_frame .right_frame {
  position: relative;
  width: 108px;
  height: 1315px;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right_frame .switch_btn {
  margin-top: 50px;
  border: none;
}

.home_btn_container {
  text-align: center;
}

.right_frame .menu_btns_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 493px;
  margin-top: 174px;
}

.menu_btn {
  border-radius: 50%;
  border: #e1dcdc;
  width: 40px;
  height: 40px;
}

.menu_btn:hover {
  background-color: #e2a61c;
  cursor: pointer;
}
